# Exclude all results directories first
results/*

# Then include specific directories
!results/attention_model_best_regression_v3_extended/
!results/attention_model_best_classification_v3_extended/
!results/attention_model_best_classification_v5_extended/
!results/attention_model_best_regression_v5_extended/
!results/chemprop_model_extended/
!results/hyperparam_search/
!results/hyperparam_search_v3/
!results/hyperparam_search_v5/

# Exclude data directory
data/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Exclude all log files
*.log